<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>Padding补值：</p>
    <div class="container1">
        <div class="aside1">ASIDE
        </div>
        <div class="main1">MAIN
        </div>
    </div>

    <p>Flex布局：</p>
    <div class="container2">
        <div class="aside2">ASIDE
        </div>
        <div class="main2">MAIN
        </div>
    </div>

    <p>Table-cell布局：</p>
    <div class="container3">
        <div class="aside3">ASIDE
        </div>
        <div class="main3">MAIN
        </div>
    </div>
</body>
</html>
